NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_aGVscGluZy1tYXJtb3NldC04LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_8n4DbdntNsRJfcqLbgVKlZTcAxOb31n0YjOSmBBMGc

DATABASE_URL= postgresql://neondb_owner:npg_vV5dqRx7zmKP@ep-cool-hat-anvbi3wd-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

GEMINI_API_KEY=AIzaSyDxZW11PTdlsrQJtE09G_8W1qf_bmU15wg

TRIGGER_SECRET_KEY=tr_dev_3IShNyeNApLe4QTyTELM
TRIGGER_PROJECT_REF=nextflow-w0gt
TRIGGER_REQUIRED=false

TRANSLOADIT_AUTH_KEY=0dc83c5aca138da0e8f3f49fb2c1f258
TRANSLOADIT_AUTH_SECRET=a79158a2d82fb924501e77815e9c2d04f203777a
